.header {
  background-color: #25ced1;
  padding: 1rem;
  margin: 1rem auto;
  width: 50rem;
  max-width: 95%;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  color: #000000;
}

.header h5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-and-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ea526f;
}

.title-and-icon h2 {
  margin-left: 1rem;
}
